.api-provider-container{
    width: 100%;
    position: relative;
}

.map-container{
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0;
    bottom: 0;
}

.rating{
    display:flex; 
    align-items: center;
}

.review-count{
    margin-top: 1.5%;
    margin-left: 5px;
}

.truck-card-link{
    color: black;
}

.truck-card-link:hover{
    color: black;
    text-decoration: underline;
}

.halal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background-color: #FBBC04;
    margin-left: 5px;
}

.vegan{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background-color:#008000;
    margin-left: 5px;
}

.mexican{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background-color: #f15d0d;
    margin-left: 5px;
}

.cuisines-container {
    display: flex;
  }
  
.cuisines {
    flex-grow: 1; 
}
  
.image-container {
    margin-left: 20px;
}
  
.food-truck-image {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 50%; 
    align-items: center;
}