.container {
  background-color: #02092c;
}
.errorMessage {
  margin: auto;
  font-size: 30px;
}


/* styles.css */

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.dropzone.active {
  border-color: #6c6;
}

.dropzone p {
  margin: 0;
}
